[BASIC]
homeurl=/main/dashboard
ReimbursementView=/main/financial-management/finance-view-expense
ApplicationForm=101
ExpenseForm=102
rate=1
QTD=5
Environment=SIT
HMDM_TYPE=供应商
QueryLog=true
[SIT]
MdmUrl=mdmsit.cce.hq.cmcc
MdmPort=14410
username=mdm_ls
province=
password=M2TY/hY5ZMKyYyx72gbxig==
otpPassword=
static=on
_eventId=submit
geolocation=
submit1=登录


[STAGE]
username=17960000000
version=预算版本
struct=预算表
scene=预算场景1
year=2019
Period=2019-5



[ALPROD]
ENV=console
protocol=https
host=console.huilianyi.com
username=13609265517
version=预算当前版本
struct=预算表
scene=预算场景
year=2019
Period=2019-YS_5



[TCPROD]
ENV=console-tc
protocol=https
host=console-tc.huilianyi.com
username=17709280742
version=预算当前版本
struct=预算表
scene=预算场景
year=2019
Period=2019-YS_5



[MLPROD]
ENV=console-my
protocol=https
host=console-my.huilianyi.com
username=13700000000



[PRD]
MdmUrl=mdm.hq.cmcc
MdmPort=80
username=liuwenbin
province=
password=wnRJZiSKrCRWLl3t8Vkwrg==
otpPassword=
static=on
_eventId=submit
geolocation=
submit1=登录
