*.pptx
*.doc
*.pdf
*.zip

.idea/
.idea
*.log
*.project
*.pydevproject
*.pyc
.settings/
.prefs
.DS_Store
.cache
*.html
*.xlm
/.pytest_cache
**/__pycache__
/screenshot
/report.html
/my_main.py
/Helios-CN/logs/*.txt
/Helios-CN/main_for_debug.py