<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Properties>
        <!-- 配置参数日志目录前缀 -->
        <Property name="LOG_HOME">logs</Property>
<!--        <property name="PATTERN">%d{MM-dd HH:mm:ss.SSS}[%t][%X{CaseName}]%M.%L %-5level-%m%n</property>-->
        <property name="PATTERN">%d{MM-dd HH:mm:ss.SSS}[%X{CaseName}]%M.%L %-5level-%m%n</property>
    </Properties>
    <Appenders>
        <Routing name="thread">
            <Routes pattern="$${ctx:ThreadName}">
                <Route>
                    <RollingFile name="Rolling-${ctx:ROUTINGKEY}" fileName="${LOG_HOME}/${ctx:ThreadName}.log"
                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/%d{yyyy-MM-dd}-${ctx:ThreadName}-log-%i.log">
<!--                                 filePattern="${LOG_HOME}/$${date:yyyy-MM}/%d{yyyy-MM-dd}-%i.log" append="false">-->
                        <ThresholdFilter level="Info" onMatch="ACCEPT" onMismatch="DENY"/>
                        <PatternLayout pattern="${PATTERN}" charset="UTF-8"/>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                            <!-- SizeBasedTriggeringPolicy:Policies子节点， 基于指定文件大小的滚动策略，size属性用来定义每个日志文件的大小. -->
                            <SizeBasedTriggeringPolicy size="20 MB" />
                        </Policies>
                        <DefaultRolloverStrategy max="20"/>
                        <!--自动删除超过120天的日志压缩文件-->
                        <DefaultRolloverStrategy>
                            <Delete basePath="${LOG_HOME}/" maxDepth="1">
                                <IfFileName glob="*.log"/>
                                <IfLastModified age="120d"/>
                            </Delete>
                        </DefaultRolloverStrategy>
                    </RollingFile>
                </Route>
<!--                <Route ref="STDOUT" key="${ctx:ThreadName}"/>-->
            </Routes>
        </Routing>
        <!--很直白，Console指定了结果输出到控制台-->
        <Console name="ConsolePrint" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [${ctx:ROUTINGKEY}-%X{CaseName}] %M.%L %-5level-%m%n"/>-->
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 级别顺序（低到高）：TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="ConsolePrint"/>
            <AppenderRef ref="thread"/>
<!--            <AppenderRef ref="STDOUT"/>-->
        </AsyncRoot>
        <AsyncLogger name="com.jayway.jsonpath.JsonPath" level="Error">
            <appender-ref ref="ConsolePrint"/>
            <AppenderRef ref="thread"/>
<!--            <AppenderRef ref="STDOUT"/>-->
        </AsyncLogger>
    </Loggers>
</Configuration>